<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        Footer
                    </a>
                </li>
                <li>
                    <a href="#">
                        Footer
                    </a>
                </li>
                <li>
                    <a href="#">
                        Footer
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>