<div class="sidebar" data-color="orange">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
    -->

    <!--<div class="logo">-->
    <!--<div class="navbar-minimize">-->
    <!--<button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">-->
    <!--<i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>-->
    <!--<i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->

    <div class="sidebar-wrapper">
        {% include 'sidebar_user.html' %}
        {% include 'sidebar_nav.html' %}
    </div>
</div>